*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family:poppins;
}
.logo img{
  width: 50px;
  height: 45px;
}

#main{
  width: 100%;
  height: 60vh;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
ul{
  list-style: none;
  display: flex;
}
.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px  20px;
  display: flex;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: grey;
}
a{
  text-decoration: none;
}
.hey {
  color: #ce49a2;
  font-weight: 500;
  font-size:0.9em; 
  border-bottom: 2px solid;
}

.content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.image {
  width: 500px;
  height: 500px;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-text{
  width: 500px;
}
.main-text h1{
  font-size: 3.5em;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}
.main p{
  color: grey;
  font-size: 1em;
}
button{
  width: 190px;
  height: 44px;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ce49a2;
  border-radius:20px;
  box-shadow: 5px 10px 30px rgba(180, 47, 140, 0.2);
}
button:hover{
  background-color: #e976c0;
  transition: all ease 0.2sec;
}
.menu li a:hover{
  background-color:#ce49a2 ;
  color:white;
  box-shadow:5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2sec;
}